
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: fixed;
    width: 100%;
    z-index: 2000;
}

.header__title-container{
    position: relative;

    width: 100%;
    height: 120PX;
    text-align: center;
    line-height: 1.4rem;
    background-color: var(--principalColor);
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 4.0rem 5px 5px 0px rgba(116, 116, 116, 0.75);
}

.header__title{
    font-size: 2.5rem;
    margin: 2rem;
    color: var(--black);
    font-family: var(--fontRaleway);
    font-weight: 700;
    font-style: italic;
}


.header__title-subtitle{
    letter-spacing:8px;
    color: var(--black);
    font-family: var(--fontRaleway);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    
}


.header__navbar{
    width: 100%;
    display: flex;
}

.header__button{
    background-color: var(--principalColor);
    width: 4rem;
    height: 50px;
    border: transparent;
    cursor: pointer;
    transition: all .5s;
    -webkit-box-shadow: 9px 7px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 7px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 7px 7px 0px rgba(0,0,0,0.75);
    z-index: -1;
}



.header__button-icon{
    color: black;
    width: auto;
    height: auto;
}

.header__button:hover{
    background-color: var(--principalColorHover);
    color: var(--black);
    -webkit-box-shadow: 9px 7px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 7px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
}


.header__close-btn{
    color: var(--principalColor);
    font-size: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
    -webkit-text-stroke: .3px rgb(95, 92, 92);
}

.header__close-btn:hover{
    color: var(--principalColorHover);
    cursor: pointer;
}

.header__ul-desktop{
    display: none;
}


.header__ul{
    background-color: var(--backgoundMenu);
    width: 100%;
    height: 100vh;
    list-style: none;
    position: absolute;
    left: -200%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4rem;
    transition: left .5s;
    padding-top: 1rem;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.header__ul-show{
    left: -60%;
    top: 0;
    text-align: end;
}


.header__a{
    text-decoration: none;
}

.header__li{
    color: var(--black);
    padding: .5rem;
    width: 8rem;
    cursor: pointer;
    font-weight: 500;
}


.header__li:hover{
    color: var(--principalColor);
}






@media(min-width: 600px){
    .header__button{
        display: none;
    }




    .header__title-container{
        position: relative;
    
        width: 100%;
        height: 120PX;
        text-align: center;
        line-height: 1.4rem;
        background-color: var(--principalColor);
        box-shadow:
        inset 0 0 0 rgba(0, 0, 0, 0),
              0.3em 0.3em 1em rgba(0, 0, 0, 0);
    }



    .header__ul-desktop{
        margin-top: -25px;
        background-color: var(--principalColor);
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 5px 5px 0px rgba(116, 116, 116, 0.75);
    }


    .header__li{
        font-size: .9rem;
    }


    .header__li:hover{
        color: var(--colorHoverOverYellow);
        text-decoration: underline;
    }
}




