.servicios__container{
    padding-top: 7.6rem;
    text-align: center;
    font-weight: 300;
    color: var(--black);
    font-family: var(--fontRaleway);

}

html{
    scroll-behavior: smooth;
}

.servicios__header{
    background-color: var(--black);
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 100%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    line-height: 1.5rem;
}

.servicios__header-title{
    color: var(--principalColor);
    animation: opacity 1s normal linear;
}

.servicios__header-phrase{
    color: aliceblue;
    font-weight: bold;
    margin: 0 1rem;
    font-size: 1.2rem;
    animation: opacity 3s normal linear;
}

.servicios__header-images{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.servicios__header-svg{
    width: 80%;
    animation: opacity 3s normal ease;
}


@keyframes opacity{
    0%{
        filter: opacity(0);
    }
    100%{
        filter: opacity(1);
    }
}

.servicios__header-button{
    background-color: var(--principalColor);
    color: var(--black);
    font-weight: bold;
    margin-top: 2rem;
    padding: .4rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
}


.servicios__header-button:hover{
    background-color: var(--principalColorHover);
}




.servicios__container-phrase{
    color: var(--black);

    margin-bottom: 2rem;
    padding-top: .5rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--black);
    font-family: var(--fontRaleway);
}


.categories__container{
    width: 100%;
    margin-top: 2rem;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    gap: 1.3rem;
    animation: opacity 3s normal ease;
}


.categories__card{
    display: flex;
    height: 400px;
    flex-direction: column;
    margin-bottom: 1rem;
    border-radius: .6rem;
    overflow: hidden;
    position: relative;
    transition: all 1s ease;
}

.categories__card:hover{
    transform: scale(1.1);
}


.categories__card-header{
    width: 100%;
    height: 100%;
}



.categories__card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter .8s;
}

.categories__card:hover .categories__card-img{
    filter: brightness(70%);
    filter: blur(5px);
} 


.categories__card-description{
    width: 80%;
    height: 80%;
    text-align: center;
    background-color: rgba(224, 218, 217, 0.74);
    position: absolute;
    padding: 1rem;
    padding-left: 2rem;
    list-style: inside;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .8s ease;
    text-align: left;
    line-height: 1.8rem;
    color: var(--black);
    font-family: var(--fontRaleway);
    font-size: .9rem;
}


.categories__card-show-more{
    background-color: var(--principalColor);
    padding: .8rem;
    border-radius: .5rem;
    position: absolute;
    width: max-content;
    margin-bottom: .5rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color .5s;
    font-weight: bold;
}


.categories__card-show-more:hover{
    background-color: var(--principalColorHover);
}

.categories__card:hover .categories__card-description{
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .7rem;
} 




.categories__card-footer{
    background-color: rgb(77, 77, 71);
    padding: .5rem;
    width: 100%;
    display: flex;
    color: var(--principalColor);
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all .8s ease;
}


.categories__card:hover .categories__card-footer{
    padding: .5rem;
    width: 80%;
    bottom: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
    background-color: rgba(41, 39, 39, 0.651);
    border-radius: 1rem;
} 




@media(min-width: 400px){
    .categories__container{
        grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
        gap: 2rem;
    }

    .servicios__header-svg{
        width: 70%;
    }

}


@media(min-width: 600px){
    .categories__container{
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
        gap: 2rem;
    }

    .servicios__header-svg{
        width: 50%;
    }

}



@media(min-width: 800px){
    .categories__container{
        grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
        gap: 2rem;
    }

    .servicios__header-svg{
        width: 40%;
    }

}

@media(min-width: 1000px){
    .categories__container{
        grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
        gap: 2rem;
    }

    .servicios__header-svg{
        width: 35%;
    }

}

@media(min-width: 1200px){
    .categories__container{
        grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
        gap: 2rem;
    }

    .servicios__header-svg{
        width: 25%;
    }

}